<configuration>
    <system.web>
        <trace enabled="true"/>
        <httpRuntime maxRequestLength="122880" />
    </system.web>
    <system.webServer>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="125829120" />
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>